# - comment symbol

#Core        v1.0                                        https://github.com/CADproject/Core.git
#Engine1     06ea110b0b0d3f2c10027933b324d7e8bead2e7f    https://github.com/CADproject/Engine1.git
#Engine2     v2.0                                        https://github.com/CADproject/Engine2.git
#Engine3     master                                      https://github.com/CADproject/Engine3.git
